#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
}

@media (max-width: 600px) {
  #root {
    padding: 0px;
  }
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: rgba(116, 102, 123, 0.313);
}

.is-done {
  text-decoration: line-through;
  opacity: 0.4;
}

