#root {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  /*display: flex;*/
}

@media (max-width: 600px) {
  #root {
    padding-top: 20px;
    display: block;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: rgba(116, 102, 123, 0.313);
}

.is-done {
  text-decoration: line-through;
  opacity: 0.4;
}

/*.css-10dsd79-MuiContainer-root {
  width: 100%;

  padding-left: 0px;
  padding-right: 0px;

}*/

/*.css-10dsd79-MuiContainer-root {
  padding-left: 0px;
  padding-right: 0px;
} @media (min-width:320px) {
  .css-10dsd79-MuiContainer-root {
    padding-left: 0px;
    padding-right: 0px;
  }
} @media (min-width:400px) {
  .css-10dsd79-MuiContainer-root {
    padding-left: 0px;
    padding-right: 0px;
  }
}@media (min-width:600px) {
  .css-10dsd79-MuiContainer-root {
    padding-left: 0px;
    padding-right: 0px;
  }
} */
/*.css-2ub3am {
  margin-left: 0px;
  margin-right: 0px;
}*/